<input type="hidden" value="<%= doc_path(@doc) %>" id="doc-path">

<%= render :partial => "editortoolbar" %>
<%#</div>%>

<div id="app-loading-message" class="loading-message dropshadow">
  Loading real-time preview&hellip;
</div>

<div id="doc-saving-message" class="loading-message dropshadow">
  Saving document&hellip;
</div>

<div id="editor">
  <label for="doc-title">Document name:</label>
  <div id="editor-title-box">
    <input id="doc-title" type="text" value="<%= @doc.title %>">
  </div>

  <div id="editor-input-box">
    <textarea><%= @doc.content %></textarea>
  </div>
  <div id="editor-sizer"></div>

  <%= render :partial => "syntaxguide" %>
</div>

<div id="preview-scroller">
  <div id="html-view">
    <textarea></textarea>
  </div>

  <div id="preview" class="">
    <div class="paper dropshadow">
      <div class="page">
        <noscript>
          <h1>Uh Oh!</h1>
          <p>It looks like you haven't got JavaScript enabled. The thing is,
          Soda relies on JavaScript for its real-time preview and
          application-like functionality, which is largely the point of the site
          &ndash; without it, you might as well be using a normal text
          editor.</p>

          <p>Another possibility is that you're using some kind manner of
          ad-blocking software/plugin, and it's preventing the JavaScript on
          this site from running. I can't imagine why it'd be doing that, but
          you never know.</p>
        </noscript>
      </div>
    </div>
  </div>
</div>

<div id="statusbar">
  <div id="general-info">
    Preview scale: <span id="zoom-level">100</span>%
  </div>

  <div id="timing-info">
    Preview refresh speed: <span id="update-speed">0</span>ms
  </div>
</div>

<% if Rails.env.production? %>
  <%= javascript_include_tag "all.js" %>
<% else %>
  <%=  javascript_include_tag :libs %>
<% end %>

<script type="text/javascript">
  // Lazy loading of main application JS.
(function () {
  var se = document.createElement("script");

  // Allow sending of non-GET AJAX requests.
  $(document).ajaxSend(function(e, xhr, options) {
    var token = $("meta[name='csrf-token']").attr("content");
    xhr.setRequestHeader("X-CSRF-Token", token);
  });

  <% if Rails.env.production? %>
    se.src = "/javascripts/application-min.js";
  <% else %>
    se.src = "/javascripts/application.js";
<% end %>

  document.getElementsByTagName("head")[0].appendChild(se);
}());
</script>
