<div id="main" class="dropshadow">
	<h1>Your Saved Documents</h1>
<% if @docs %>
	<p>Please be careful with the <strong>delete</strong> links, as currently the
	action can't be undone, and there is no confirmation dialog.</p>
	<ul class="doc-list">
	<% @docs.each do |doc| %>
		<li>
			<label><%= doc.title || "<untitled document>" %></label>
			<%= link_to "edit", edit_doc_path(doc) %> |
			<%= link_to "view", doc_path(doc) %> |
			<%= link_to "delete", delete_doc_path(doc), :class => "delete-link"  %>
		</li>
	<% end %>
	</ul>
<% else %>
	<% if user_signed_in? %>
		<p>You do not have any saved documents. Would you like to create one?</p>
	<% else %>
		<p>Only <%= link_to "registered", new_user_registration_path %> users can
		see a list of documents they have created.</p>

		<p>You can still save documents without registering, but they will be
		publicly visible and you will need to make a note of their URLs.</p>
	<% end %>
<% end %>

	<%= button_to "New Document", docs_path, :method => "POST" %>

</div>
