<div id="main" class="dropshadow">
	<h1>Your Saved Documents</h1>
<% if @docs %>
	<ul class="doc-list">
	<% @docs.each do |doc| %>
		<li>
			<label><%= doc.title || "<untitled document>" %></label>
			<%= link_to "edit", edit_doc_path(doc) %> |
			<%= link_to "view", doc_path(doc) %> |
			<%= link_to "delete", delete_doc_path(doc), :class => "delete-link"  %>
		</li>
	<% end %>
	</ul>
<% else %>
	<% if user_signed_in? %>
		<p>You do not have any saved documents. Would you like to create one?</p>
	<% else %>
		<p>Only <%= link_to "registered", new_user_registration_path %> users can
		see a list of documents they have created.</p>

		<p>You can still save documents without registering, but they will be
		publicly visible and you will need to make a note of their URLs.</p>
	<% end %>
<% end %>

	<%= button_to "New Document", docs_path, :method => "POST" %>

</div>

<% if Rails.env.production? %>
	<%= javascript_include_tag "all.js" %>
<% else %>
	<%=  javascript_include_tag :libs %>
<% end %>

<script>
	$(function () {
		$(".doc-list").delegate(".delete-link", "click", function (e) {
			var docName = $(this).prevAll("label").text();
			if (!confirm("Are you sure you want to delete this document?\n\n" +
			"Name: " + docName)) {
				e.preventDefault();
			}
		});
	});
</script>
