<div id="main" class="dropshadow">
  <h1>Your Documents</h1>
  <%= button_to "New Document", docs_path, :method => "POST" %>

<% if @docs %>
  <table id="docs" class="doc-list">
    <tr>
      <th class="loading">Loading documents list&hellip;</th>
    </tr>
    <noscript>
      <tr>
        <td>
          <p>SODA requires JavaScript to function, but it appears to be disabled in your browser.</p>
        </td>
      </tr>
    </noscript>
  </table>

  <p><a href="<%= docs_path(format: :json) %>">Download all (JSON)</a></p>
<% else %>

  <% if user_signed_in? %>
    <p>You do not have any saved documents. Would you like to create one?</p>
  <% else %>
    <p>Only <%= link_to "registered", new_user_registration_path %> users can
    see a list of documents they have created.</p>

    <p>You can still save documents without registering, but they will be
    publicly visible and you will need to make a note of their URLs.</p>
  <% end %>
<% end %>

  <%= button_to "New Document", docs_path, :method => "POST" %>

</div>

<% if Rails.env.production? %>
  <%= javascript_include_tag "all.js" %>
<% else %>
  <%=  javascript_include_tag :libs %>
<% end %>

<script type="text/mustache" id="docs-template">
  <thead>
    <tr>
      <%# need inner <div>s because Firefox doesn't allow table cells to be
      position: relative %>
      <th class="name"><div>Document Name</div></th>
      <th class="controls"></th>
      <th class="date"><div>Last Modified</div></th>
    </tr>
  </thead>
  <tbody>
  {{#documents}}
    <tr>
      <td class="name">
        <a href="{{edit_path}}">{{name}}</a>
      </td>
      <td class="controls">
        <a href="{{view_path}}">view</a> &middot;
        <a href="{{delete_path}}" class="delete-link">delete</a>
      </td>
      <td class="date">{{date_str}}</td>
    </tr>
  {{/documents}}
  </tbody>
</script>

<script type="text/mustache" id="docs-template-narrow">
  <thead>
    <tr>
      <th class="name"><div>Name</div></th>
      <th class="date"><div>Modified</div></th>
    </tr>
  </thead>
  <tbody>
  {{#documents}}
    <tr>
      <td class="name">
        <a href="{{view_path}}">{{name}}</a>
      </td>
      <td class="date">{{date_str}}</td>
    </tr>
  {{/documents}}
  </tbody>
</script>

<script>
  var SODA;
  if (!SODA) {
    SODA = {};
  }

  SODA.doc_list = <%= raw @docs_json.to_json %>;
</script>

<script src="/javascripts/file-list.js"></script>
